---
CompileFlags:

	Add: [
		"-DSTM32F7",
		"-DSTM32F746xx",
		"-Isrc/f746-drivers",
		"-Ilib/cpputil",
		"-Ilib/mdrivlib",
		"-Ilib/mdrivlib/drivers",
		"-Ilib/mdrivlib/target/stm32f7xx",
		"-Ilib/mdrivlib/target/stm32f7xx/drivers",
		"-Istm32/device/stm32f746/Include",
		"-Istm32/HAL/stm32f7/Inc"
	]

	Remove: [
		"-DSTM32G4",
		"-DSTM32G431xx",
	]
